[Unit]
Description=CS454 Project 1 service
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/apps/CS454project1/CS454project1
ExecStart=/usr/bin/node /home/ec2-user/apps/CS454project1/CS454project1/server.js
Restart=always
Environment=PORT=8080

[Install]
WantedBy=multi-user.target
